@model UserRolesVM;

@{
    ViewData["Title"] = "Add Role";
}

<section class="col-md-8 mx-auto">
    <div class="card shadow p-5 mt-5">
        <div class="d-flex mb-3">
            <h4 class="me-auto text-dimgrey">User Roles</h4>
        </div>
        <form method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="@Model.UserName"></label>
                <input class="form-control" asp-for="@Model.UserName" readonly>
            </div>
            <label class="form-label" asp-for="@Model.Roles"></label>
            <input asp-for="@Model.UserId" hidden />
            <ul class="list-group">
                @for (int i = 0; i < Model.Roles.Count(); i++)
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-content-center my-1">
                            <input asp-for="@Model.Roles[i].Id" hidden>
                            <input asp-for="@Model.Roles[i].Name" hidden>
                            <p class="mb-0 align-self-center">@Model.Roles[i].Name</p>
                            <input class="form-check-input" asp-for="@Model.Roles[i].IsSelected">
                        </div>
                    </li>
                }
            </ul>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success me-1">Save</button>
                <button asp-action="Users" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>
</section>